<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cities</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table>
    <thead>
    <tr>
        <th> id </th>
        <th> nom </th>
        <th> prenom </th>
        <th> fonction </th>
        <th> modifier </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${custumer}==null">
        <td colspan="2"> No Books Available </td>
    </tr>
    <tr th:each="cust : ${custumer}">
        <td><span th:text="${cust.id}"> Title </span></td>
        <td><span th:text="${cust.lastname}"> Author </span></td>
        <td><span th:text="${cust.firstname}"> Author </span></td>
        <td><span th:text="${cust.fonction}"> Author </span></td>

        <td><a th:href="'/modifier?id='+${cust.id}">modifier</a> </td>
        <td></td>

    </tr>
    </tbody>
</table>
</body>
</html>
